<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <form>
            <label for="token">Authentication Token:</label>
            <input type="text" name="token">
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="/public/js/xhr/xhr.js"></script>
    <script src="/public/js/login/login.js"></script>
</body>
</html>